/* Sign:
	 * Title: CS235 Data Visualization Web Application
	 * Authors: Yihang Tang, Jiehan Yao
	 * Date: Apr.8th 2018
	 */

/* CSS Document */
/* CSS file set bar chart and related elements style */

hist {
  font: 10px sans-serif;
  height: 400x;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: red ;
}

.x.axis path {
  display: none;
}


