/* Sign:
	 *
	 */

@charset "UTF-8";
/* CSS Document */

#canvas
{
	width: 800px;
	height: 400x;	
	padding:15px 0px 25px;
}


#canvas .info-copy
{
	color: #000;
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 14px;
	width: 560px;
	float: left;
	padding: 0px 0px 0px;
	margin: 30px 50px 0px;
	position: relative;
	z-index: 150;
	line-height: 16px;
}

#canvas #paper
{
	position: relative;
	left: 50px;
	right: 50px;
	top: 15px;
}

#canvas #state-form
{
	float: right;	
	position: relative;
	z-index: 101;
	top: -30px
}

#canvas #state-form select
{
	width: 150px;	
}
#canvas #mapControls { position: absolute; left: 15px; top: 40px; width: 29px; }
#canvas #mapControls #up { background: url(../images/iconUp.png) no-repeat center top; display: block; height: 26px; width: 29px; }
#canvas #mapControls #down { background: url(../images/iconDown.png) no-repeat center top; display: block; height: 27px; width: 29px; }
